<h1><%= @menu.title %></h1>
<p><%= @menu.description %></p><br>
<% @menu.sort_menu.each do |category, dishes| %>
  <%= category.capitalize %>
  <% dishes.each do |dish| %>
    <ul>
      <li><%= dish.recipe.name %></li>
    </ul>
  <% end %>
<% end %>


